.App {
  text-align: center;
}

.box {
  width: calc(25% - 20px); /* 각 박스의 가로 크기 */
  height: 100px; /* 각 박스의 세로 크기 */
  background-color: #e0e0e0;
  border: 1px solid #999;
  margin: 10px;
  display: inline-block;
}

.box-container {
  width: 100%;
  margin-top: 20px;
}
