@tailwind base;
@tailwind components;
@tailwind utilities;

/* 라이트 모드 색상 지정 */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* 다크 모드 색상 지정 */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* 기타 스타일 정의 */
.p {
  text-align: center;
}
.h1 {
  padding: 10px;
}
.resumateListBox {
  padding: 20px;
  position: fixed;
  top: 40%;
  left: 20%;
  transform: translate(-50%, -50%);
}
.resumname {
  padding: 50px;
  color: rgb(0, 0, 0);
  position: fixed;
  top: 15%;
  left: 0%;
}
